<div id="header">
  <!-- <div> -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Enter the hashtag for an image
        </h1>
        <h2 class="subtitle">powered by <span class="">Imgur</span></h2>
      </div>
    </div>
  </section>
  <!-- </div> -->
  <!-- <div class="buttons">
    <button class="button is-primary">Primary</button>
    <button class="button is-link">Link</button>
  </div>

  <div class="buttons">
    <button class="button is-info">Info</button>
    <button class="button is-success">Success</button>
    <button class="button is-warning">Warning</button>
    <button class="button is-danger">Danger</button>
  </div> -->
</div>
